:root {
  --dark-primary-color: #303F9F;
  --primary-color: #3F51B5;
  --secondry-color: #FF5722;
  --primary-text: #212121;
  --titles-color: #757575
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: var(--primary-color) !important;
}

button {
  background-color: var(--dark-primary-color) !important;
  display: block !important;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.login {
  margin-top: 150px;
}

@media (min-width: 900) {
    .login {
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

.form-heading {
    color: var(--titles-color);
    font-size: 45px;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

nav .brand-logo {
    font-size: 13px !important;
}

#lost {
    width: 49%;
    background-color: var(--secondry-color);
    padding-bottom: 42px;
    display: inline-block !important;
    margin-left: 0;
    margin-right: 0;
}

#camp {
    width: 49%;
    background-color: var(--dark-primary-color);
    padding-bottom: 42px;
    display: inline-block !important;
    margin-left: 0;
    margin-right: 0;
}

#report {
    display: none;
}