:root {
  --dark-primary-color: #303F9F;
  --primary-color: #3F51B5;
  --secondry-color: #FF5722;
  --primary-text: #212121;
  --titles-color: #757575
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: var(--primary-color) !important;
}

button {
  background-color: var(--dark-primary-color) !important;
  display: block !important;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.login {
  margin-top: 30%;
}

.form-heading {
    color: var(--titles-color);
    font-size: 45px;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

